$header: gray;
.crypto {
    height: auto;
    h1 {
        color: brown;
        text-align: center;
        padding: 1.5rem;
        width: 100%;
        margin: 0 auto;
        background-color: $header;
    }
}
