.header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 1rem auto; }
  .header button {
    padding: 10px;
    background-color: gray;
    font-size: 1rem;
    margin-left: .5rem;
    border-radius: 4px;
    outline: none;
    color: brown; }
